@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&family=Overpass+Mono:wght@300..700&display=swap');

body {
    background-color: #14213D;
    font-family: "Overpass Mono", monospace;
    font-weight: 300;
    font-optical-sizing: auto;
}

.controls {
    display: block;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #FFBE0B;
    border-radius: 5px;
    text-align: center;
    display: block; /* Change from inline-block to block */
    padding: 6px 12px;
    cursor: pointer;
    font-size: 12pt;
    color: #FFBE0B;
    background-color: #f5f5f50c;
    transition: background-color .35s ease-in-out;
    -moz-transition: background-color .35s ease-in-out;
    -webkit-transition: background-color .35s ease-in-out;
    margin-top: 10px; /* Optional: Add margin to create space between elements */
}

#useSampleDataButton {
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    margin:auto;
    display: block; /* Change from inline-block to block */
    padding: 6px 12px;
    cursor: pointer;
    font-size: 12pt;
    color: #777777;
    background-color: #f5f5f50c;
    transition: background-color .35s ease-in-out;
    -moz-transition: background-color .35s ease-in-out;
    -webkit-transition: background-color .35s ease-in-out;
    margin-top: 10px; /* Optional: Add margin to create space between elements */
}

#footer {
    color: #d2d2d2;
    margin: 50px auto;
    text-align: center;
    
}

#footer p {
    font-size: 9pt;
    color: #c5c5c5;
    line-height: 50%;
}


.custom-file-upload:hover {
    background-color: #f5f5f52d;
    transition: background-color .35s ease-in-out;
    -moz-transition: background-color .35s ease-in-out;
    -webkit-transition: background-color .35s ease-in-out;
}

#clash-count {
    margin-top: 20px;
    color: #ffffff;
    margin: auto;
    text-align: center;
}

.axis,
.grid {
    color: #FFBE0B;
    stroke-width: 0.5px;
}

.grid {
    opacity: .2;
}

.x-text {
    font-size: 10pt;
}

h1 {
    font-family: "Orelega One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25pt;
    color: #F5F5F5;
    text-align: center;
}

h2 {
    font-size: 14pt;
}

p {
    font-size: 11pt;
}

b {
    font-weight: 700;
}

#chart {
    width: 100%;
    max-width: 1024px;
    margin: auto;
}

#instructions {
    width: 100%;
    max-width: 512px;
    padding: 5vh 10px 0 10px;
    margin: auto;
    color: white;
}
hr {
    margin: 0 15px 0 0;
}
 
a:link, a:visited {
    color: white;
}


#packedCircles {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.bar {
    stroke: #FFBE0B;
    stroke-width: 1px;
}

.solid {
    stroke: #fff;
    stroke-width: 1px;
    stroke: solid;
}

.dashed {
    stroke: #FF006E;
    stroke-width: 2px;
}

.solid:hover {
    fill-opacity: 0.8;
}

.dashed:hover {
    fill-opacity: 0.8;
}

.tooltip {
    pointer-events: none;
    font-size: 13px;
    color: #14213D;
    background-color: #f5f5f59c;
    border-style: solid;
    border-color: #FCA311;
    border-width: 1px;
    border-radius: 5px;
    padding: 5px;
}