@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&family=Overpass+Mono:wght@300..700&display=swap');

body {
    background-color: #14213D;
    font-family: "Overpass Mono", monospace;
    font-weight: 300;
    font-optical-sizing: auto;
}

.controls {
    display: block;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #FFBE0B;
    border-radius: 5px;
    text-align: center;
    display: block; /* Change from inline-block to block */
    padding: 6px 12px;
    cursor: pointer;
    font-size: 12pt;
    color: #FFBE0B;
    background-color: #f5f5f50c;
    transition: background-color .35s ease-in-out;
    -moz-transition: background-color .35s ease-in-out;
    -webkit-transition: background-color .35s ease-in-out;
    margin-top: 10px; /* Optional: Add margin to create space between elements */
    margin: 10px auto;
}

#useSampleDataButton {
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    margin:auto;
    display: block; /* Change from inline-block to block */
    padding: 6px 12px;
    cursor: pointer;
    font-size: 12pt;
    color: #777777;
    background-color: #f5f5f50c;
    transition: background-color .35s ease-in-out;
    -moz-transition: background-color .35s ease-in-out;
    -webkit-transition: background-color .35s ease-in-out;
    margin-top: 10px; /* Optional: Add margin to create space between elements */
}

#footer {
    color: #d2d2d2;
    margin: 50px auto;
    text-align: center;
    
}

#footer p {
    font-size: 9pt;
    color: #c5c5c5;
    line-height: 50%;
}


.custom-file-upload:hover {
    background-color: #f5f5f52d;
    transition: background-color .35s ease-in-out;
    -moz-transition: background-color .35s ease-in-out;
    -webkit-transition: background-color .35s ease-in-out;
}

#clash-count {
    margin-top: 20px;
    color: #ffffff;
    margin: auto;
    text-align: center;
}

#artist-count {
    margin-top: 20px;
    font-size: 11pt;
    color: #ffffff;
    margin: auto;
    text-align: center;
}

.axis,
.grid {
    color: #FFBE0B;
    stroke-width: 0.5px;
}

.grid {
    opacity: .2;
}

.x-text {
    font-size: 10pt;
}

h1 {
    font-family: "Orelega One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25pt;
    color: #F5F5F5;
    text-align: center;
}

h2 {
    font-size: 14pt;
}

p {
    font-size: 11pt;
}

b {
    font-weight: 700;
}

#chart {
    width: 100%;
    max-width: 1024px;
    margin: auto;
}

#instructions {
    width: 100%;
    max-width: 512px;
    padding: 0 10px 0 10px;
    margin: auto;
    color: white;
}
hr {
    margin: 0 15px 0 0;
}
 
a:link, a:visited {
    color: white;
}


#packedCircles {
    width: 75%;
    max-width: 1000px;
    margin: 0 auto;
}

.bar {
    stroke: #FFBE0B;
    stroke-width: 1px;
}

.solid {
    stroke: #fff;
    stroke-width: 1px;
    stroke: solid;
}

.dashed {
    stroke: #FFBE0B;
    stroke-width: 2px;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+CiAgPHJlY3Qgd2lkdGg9JzEwJyBoZWlnaHQ9JzEwJyBmaWxsPSd3aGl0ZScvPgogIDxwYXRoIGQ9J00tMSwxIGwyLC0yCiAgICAgICAgICAgTTAsMTAgbDEwLC0xMAogICAgICAgICAgIE05LDExIGwyLC0yJyBzdHJva2U9J2JsYWNrJyBzdHJva2Utd2lkdGg9JzEnLz4KPC9zdmc+Cg=="); background-repeat: repeat;
}

.solid:hover {
    fill-opacity: 0.8;
}

.dashed:hover {
    fill-opacity: 0.8;
}

.tooltip {
    pointer-events: none;
    font-size: 13px;
    color: #14213D;
    background-color: #f5f5f59c;
    border-style: solid;
    border-color: #FCA311;
    border-width: 1px;
    border-radius: 5px;
    padding: 5px;
}

.day-label {
    font-weight: 700;
    font-size: 12pt;
    fill: white;
    opacity: 0.5;
}

.viz-button {
    visibility: hidden;
}

#container {
    width: 100%;
    max-width: 1024px;
    margin: auto;
 }
 
 #top-section {
   border-bottom: 1px solid red;
 }
 
 #expand-container {
   overflow: hidden;
 }
 
 #expand-contract {
   margin-top: -100%;
   transition: all 0.5s;
 }
 
 #expand-contract.expanded {
    margin-top: 0;
 }